* {   
    box-sizing: border-box;         
  }
body{
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    scroll-behavior: smooth;
    line-height: 2;
    text-align: justify;
}

a:hover{
  background-color:#18b201;
}
#wrapper1{
    background-image: url("blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.circle{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: circle 5s infinite;
}
@keyframes circle {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}
.circle::before{
    content:'';
    position: absolute;
    left:0; top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(255,255,255,.3);
}

.loading{
    color: #737373;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 200px;
    text-transform: uppercase;
    font-family: Lato;
    animation: text 5s ease-in-out infinite;
}

@keyframes text{
50%
{
    color: #000;
}

}
p {
    margin-left: 100px;
     font-family: Lato, Signika;
    font-size: 18px;
    padding-left: 10px;
    align-items: center;
    width: 850px;
}

.heading{
    font-family: Signika;
    font-size: 35px;
    color: #2e484c;
    text-align: center;
    line-height: 1.3px;

}
.firstsentence
{
    font-family: Signika;
    font-size: 20px;
    line-height: 1.333338;
    color: #5e867b;
    
}

.navigation{
    box-sizing: border-box;
    width: 400px;
    height: 72px;
    background-color: #2e484c;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 800px;
}
.navigation ul{
   display: flex;
   width: 350px;
} 

.navigation ul li{
 position: relative;
 list-style: none;
 width: 70px;
 height: 70px;
 z-index: 1;
}
.navigation ul li a{
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #fff;
}

.navigation ul li.active a .icon
{
    transform: translateY(-43px);
}

.navigation ul li a .text
{
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    top: -50%;
    width: 60px;
    height: 60px;
    background: #425F57 ;
    border-radius: 50%;
    border: 6px solid #fff;
    transition: 0.5s;
}

.indicator::before
{
    content:'';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0px 0px #fff;
}

.indicator::after
{
    content:'';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0px 0px #fff;
}

.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(62px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(62px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(62px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(62px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(62px * 4));
}

.heading2{ 
    font-family: Signika;
    font-size: 25px;
    color:#2e484c;
    margin-left: 110px;
}
.heading1{ 
    font-family: Signika;
    font-size: 25px;
    margin-left: 110px;
}
.heading3{ 
    font-family: Signika;
    font-size: 25px;
    color:#2e484c;
    margin-left: 110px;
}
.heading4{ 
    font-family: Signika;
    font-size: 25px;
    color:#2e484c;
    margin-left: 110px;
}
.heading5{ 
    font-family: Signika;
    font-size: 25px;
    color:#2e484c;
    margin-left: 110px;
}

.footer{
    font-size: 35px;
}

#wrapper{
    margin: 0px;
    padding: 0px;
    width: 275px;
    margin-left: auto;
    margin-top: -2400px;
    margin-bottom: 10px;
    animation: mySlide;
  animation-duration: 4s;
}
@keyframes mySlide{
    from{margin-left: 100%;}
    to{margin-left: 79%;}
}

.header{
   width: 275px;
  background-color: #425F57;
  line-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-family: Signika;
  color: #bae57e;
}

.body{
    display: none;
    font-family: Lato;
    border: 5px outset;
    border-color: #18b201;
    padding: 10px;
}

.item.active .header{
   background-color: #18b201;
   color: #fff;
}

.item.active .arrow{
    transform: rotate(180deg);
}
.arrow{
    transition: all 0.5s;
}

#exbar{
    justify-content: center;
    text-align: center;
}
#exbar1{
  justify-content: center;
  text-align: center;
}

.footer{
    transition: transform .2s;
}

.footer:hover{
    transform: scale(1.1);
}

.title1 {
    background-color: #fff8ea ;
}
@media screen and (max-width: 412px){
    .navigation{
      box-sizing: border-box;
      width: 300px;
      height: 70px;
    }
    .navigation ul{
     display: flex;
     width: 300px;
  } 
    .navigation ul li:nth-child(1).active ~ .indicator{
      transform: translateX(calc(50px * 0));
  }
  .navigation ul li:nth-child(2).active ~ .indicator{
      transform: translateX(calc(50px * 1));
  }
  .navigation ul li:nth-child(3).active ~ .indicator{
      transform: translateX(calc(50px * 2));
  }
  .navigation ul li:nth-child(4).active ~ .indicator{
      transform: translateX(calc(50px * 3));
  }
  .navigation ul li:nth-child(5).active ~ .indicator{
      transform: translateX(calc(50px * 4));
  }
  .heading1{
    font-size: 17px;
    margin-left: 30px;
  }
   .heading2{
    font-size: 17px;
    margin-left: 30px;
  }
   .heading3{
    font-size: 17px;
    margin-left: 30px;
  }
   .heading4{
    font-size: 17px;
    margin-left: 30px;
  }
   .heading5{
    font-size: 17px;
    margin-left: 30px;
  }
  .content3 {
    width: 100%;
  }
  .Requirement {
    width: 100%;
  }
  #wrapper{
   margin-top: auto;
  }
  .heading{
  font-size: 17px; 
  }
  .firstsentence{
    font-size: 14px;
  }
  .navigation{
  margin-left: 0%;
  }
  .footer{
    margin-right: 1%;
  }
  
  p{
    width: 83%;
    font-size: 13px;
    margin-left: 20px;
  }
  .header{
    width: 200px;
  }
  .body{
    width: 200px;
  }
  @keyframes mySlide{
    from{margin-left: 100%;}
    to{margin-left: 25%;}
  }
  }
  @media screen and (max-width: 576px) and (min-width: 413px){
    .heading1{
      font-size: 20px;
      margin-left: 40px;
    }
     .heading2{
      font-size: 20px;
      margin-left: 40px;
    }
     .heading3{
      font-size: 20px;
      margin-left: 40px;
    }
     .heading4{
      font-size: 20px;
      margin-left: 40px;
    }
     .heading5{
      font-size: 20px;
      margin-left: 40px;
    }
  .content3 {
      width: 100%;
    }
  .Requirement {
      width: 100%;
    }
   #wrapper{
     margin-top: auto;
     margin-right: 16%;
   }
   .heading{
    font-size: 21px; 
  }
    .firstsentence{
      font-size: 20px;
    }
  .navigation{
    margin-left: 0%;
  }
  @keyframes mySlide{
    from{margin-left: 100%;}
    to{margin-left: 25%;}
  }
  
    p{
      width: 83%;
      font-size: 18px;
      margin-left: 30px;
    }
  }
    @media screen and (min-width: 576px) and (max-width: 767px){
      .heading1{
        font-size: 22px;
        margin-left: 40px;
      }
       .heading2{
        font-size: 22px;
        margin-left: 40px;
      }
       .heading3{
        font-size: 22px;
        margin-left: 40px;
      }
       .heading4{
        font-size: 22px;
        margin-left: 40px;
      }
       .heading5{
        font-size: 22px;
        margin-left: 40px;
      }
    .content3 {
        width: 100%;
      }
    .Requirement {
        width: 100%;
      }
     #wrapper{
       margin-top: auto;
       margin-right: 27%;
     }
     .heading{
      font-size: 26px; 
    }
      .firstsentence{
        font-size: 21px;
      }
    .navigation{
      margin-left: 0%;
    }
    
    @keyframes mySlide{
      from{margin-left: 100%;}
      to{margin-left: 28%;}
    }
      p{
        width: 83%;
        font-size: 18px;
        margin-left: 30px;
      }
    }
  @media screen and (max-width: 1299px) and (min-width: 767px)  {
    .heading1{
      font-size: 25px;
      margin-left: 60px;
    }
     .heading2{
      font-size: 25px;
      margin-left: 60px;
    }
     .heading3{
      font-size: 25px;
      margin-left: 60px;
    }
     .heading4{
      font-size: 25px;
      margin-left: 60px;
    }
     .heading5{
      font-size: 25px;
      margin-left: 60px;
    }
  .content3 {
      width: 100%;
    }
  .Requirement {
      width: 100%;
    }
   #wrapper{
     margin-top: auto;
     margin-right: 39%;
   }
   .heading{
    font-size: 31px; 
  }
    .firstsentence{
      font-size: 24px;
    }
  .navigation{
    margin-left: 0%;
  }
  @keyframes mySlide{
    from{margin-left: 100%;}
    to{margin-left: 39%;}
  }
  
    p{
      width: 88%;
      font-size: 20px;
      margin-left: 50px;
    }
  }
  
  

@media screen and (min-width: 1300px)  {
  .navigation{
    box-sizing: border-box;
    width: 450px;
     height: 70px
  }
  .navigation ul{
   display: flex;
   width: 450px;
} 
  .navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(71px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(71px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(71px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(71px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(71px * 4));
}
    .title1{
      width: 100%;
    }
  .content3 {
      width: 100%;
    }
  .Requirement {
      width: 100%;
    }
   #wrapper{
     margin-left: auto;
     margin-top: -2350px;
   }
   .heading{
    font-size: 30px;
  }
  .navigation{
    margin-left: 0%;
  }
  .footer{
    margin-right: 0%;
  }
  @keyframes mySlide{
    from{margin-left: 100%;}
    to{margin-left: 80%;}
}
}
.content3 {
    background-color: #FFF8EA;
}
.Requirement{
    background-color: #FFF8EA;
}
